<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customer">
            <h2><span>Customer</span> {{customer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Customer Name</span></dt>
                <dd>
                    <span>{{customer.customerName}}</span>
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    {{customer.customerId}}
                </dd>
                <dt><span>Customer</span></dt>
                <dd>
                    <span *ngFor="let customer of customer.customers; let last = last">
                        <a [routerLink]="['/coupon-my-suffix', customer?.id, 'view' ]">{{customer.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-my-suffix', customer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
